<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Collections Test Suites">
            <directory>./Silk</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../</directory>
            <exclude>
                <directory>./test</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>